@import "definitions.scss";

// Typo
h1 {
    text-shadow: 1px 1px 3px #aaaaaa;
}

.small {
	color: lighten($dark-gray, 10);
	font-size: 12px;
}

.smaller {
	font-size: 80%;
}

.light {
	color:lighten($dark-gray, 40);
}

.txt-center {
	text-align: center;
}

.justify {
	text-align: justify;
}